# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Helpful .env files
.env*

cmd/WorldOfWarcraft_CraftingProfitCalculator-go/formatted_output
cmd/WorldOfWarcraft_CraftingProfitCalculator-go/intermediate_output.json
cmd/WorldOfWarcraft_CraftingProfitCalculator-go/raw_output.json